<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
      http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <servers>
        <server>
            <id>maven-s3-release-repo</id>
            <username>S3_UN</username>
            <password>S3_PW</password>
            <configuration>
                <wagonProvider>s3</wagonProvider>
            </configuration>
        </server>
        <server>
            <id>maven-s3-snapshot-repo</id>
            <username>S3_UN</username>
            <password>S3_PW</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>spring</activeProfile>
        <activeProfile>s3</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>spring</id>
            <repositories>
                <repository>
                    <id>spring-snapshots</id>
                    <url>http://repo.spring.io/libs-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>spring-snapshots</id>
                    <url>http://repo.spring.io/libs-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>s3</id>
            <repositories>
                <repository>
                    <id>maven-s3-snapshot-repo</id>
                    <name>AWS Snapshot Repository</name>
                    <url>s3://S3_URL/repository/snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>maven-s3-release-repo</id>
                    <name>AWS Release Repository</name>
                    <url>s3://S3_URL/repository/releases</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
